*{
    margin: 0%;
    padding: 0;
    outline: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}

.link-btn{
	background-image: linear-gradient(orange, green);
    text-decoration: none;
	font-size : 1.2rem;
	color : #fff;
	padding : 10px 25px;
	border : none;
	border-radius: 3%;
	font-weight: bold;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.flex-item{
    display: flex;
}

.width-half{
    width: 40%;
    float: left;
}


/*------------------------Banner design start---------------------*/
.banner-container{
    background-image: url(./images/donation4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.banner-section{
    text-align: center;
    margin: 0% 9%;
    padding: 5% 6%;
    color: #fff;
}

.banner-section h1{
    font-size: 4rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    padding: 40px;
    text-align: center;
    padding-top: 30px;
}

.banner-description{
    font-size: 1.3rem;
    text-align: center;
    padding: 0 8%;
    text-align: center;
}
/*------------------------Banner design end---------------------*/





/*------------------------Donation card design start---------------------*/
.donate-section {
    text-align: center;
    margin: 5% 9%;
}

.description-donate h2{
    font-size: 2.5rem;
    font-weight: 900;
    padding: 3% 5%;
}

.donate-amount-card{
    margin: 5% auto;
}

.card {
    background-color: rgb(247, 234, 234);
    width: 14%;
    height: 95px;
    padding: 20px;
    margin-right: 30px;
}

.card p {
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    font-weight: 800;
    padding-left: 0;
    color: gray;
}
#card-border{
    border: 2px solid red;
    border-radius: 3%;
}

.amount-type{
    font-size: 1.2rem;
    color: gray;
    padding : 10px 20px;
    border : none;
    text-align: center;
}
/*------------------------Donation card design end---------------------*/




/*------------------------Donate plan design start---------------------*/
.donate-plan-section{
    text-align: center;
    margin: 5% 9%;
}

.donate-plan h3{
    font-size: 2.5rem;
    font-weight: 900;
    padding: 3% 5%;
}
.donate-plan p{
    font-size: 1.2rem;
    padding: 1% 10%;
    margin-bottom: 10px;
}

.donate-plan-card{
    margin: 5% 7%;
}

.plan-card{
    width: 30%;
    height: 250px;
    background-color: #E8EAED;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.icon img{
    width: 30px;
    height: 35px;
    padding: 20px;
    margin-top: 5%;
}
.plan-card h4{
    margin: 5% 0;
    font-size: 1.3rem;
    padding: 5% 0%;
}
.plan-card{
    font-size: 1rem;
    padding: 5% 2%;
    text-align: justify;
}
/*------------------------Donate plan design end---------------------*/



/*------------------------Donate blog design start---------------------*/
.donate-blog{
    margin: 7% 9%; 
}

.articale{
    padding: 5%;
}
.articale h5{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 5% 0;
}
.articale p{
    font-size: 1.1rem;
    line-height: 2rem;
}
.blog-image img{
    width: 100%;
    height: 400px;
    padding: 2%;
}
/*------------------------Donate blog design end---------------------*/

/*------------------------Blog self---------------------*/
.self-articale{
    float: left;
    padding: 5%;
}
.self-articale h5{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 5% 0;
}
.self-blog-image img{
    float: right;
}



/*------------------------Form section design start---------------------*/
.subscribe-part {
    margin: 10% 25%; 
    text-align: center;
}
.subscribe-title{
    padding: 5% 7%;
}
.subscribe-title h5{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 5% 0;
}
.subscribe-title p{
    font-size: 1.1rem;
    line-height: 2rem;
    padding-bottom: 40px;
}
.subscribe-btn{
    background-color: #E8EAED;
    height: 200px;
}
.subs-btn {
    margin-top: 12%;
    border: none;
    font-size: 1.1rem;
    background-color: aqua;
    padding: 10px 13px;
    border-radius: 4%;
}
#hit-btn{
    background-color: lightcoral;
    margin-left: -5px;
    width: 20%;
    color: #fff;
    padding: 10px 13px;
    cursor: pointer;
}
/*------------------------Form section design end---------------------*/



/*------------------------Footer design start---------------------*/
footer{
    background-color: rgb(63, 54, 54);
}
footer h6{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 2% 0;
    color: rgb(170, 53, 53);
    text-align: center;
}
footer p{
    text-align: center;
    color: #fff;
    padding-bottom: 3%;
}
/*------------------------Footer design end---------------------*/